#preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #007fd1;
    background: -webkit-gradient(linear, left top, right top, from(#007fd1), to(#c600ff));
    background: -webkit-linear-gradient(left, #007fd1, #c600ff);
    background: -moz-linear-gradient(left, #007fd1, #c600ff);
    background: -o-linear-gradient(left, #007fd1, #c600ff);
    background: linear-gradient(left, #007fd1, #c600ff);
    z-index: 30;
    overflow: hidden
}

.mainPreloader small {
    font-size: 25px;
}

.mainPreloader {
    width: 250px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 48%;
    margin-left: -125px;
    margin-top: -75px;
    color: #fff;
    font-size: 40px;
    letter-spacing: -2px;
    text-align: center;
    line-height: 35px;
}

#preloader .animation {
    position: absolute;
    width: 41px;
    height: 41px;
    background: url('../../images/spinning-circles.svg') center center no-repeat;
    background-size: 41px;
    margin: -16px 0 0 -16px;
}
