#menu {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4;
    background-color: #333333;
    height: 46px;
}

#leftFromSearch {
    display: flex;
    justify-content: flex-end;
    flex-basis: 35%;
}

#searchTrack {
    flex-basis: 30%;
}

#inputSearchTrack {
    display: flex;
    width: 100%;
}

#rightFromSearch {
    display: flex;
    flex-basis: 35%;
}

a.nav-link.active {
    border-color: white;
    border-style: initial;
}

.dropdown.nav-link.active {
    border-color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 3;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: orange;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown .dropdown-content {
    background-color: gray;
    display: none;
}

#currentUserName {
    cursor: pointer;
}
