#player {
    display: none;
    height: 100%;
    color: white;
    z-index: 4;
}

#smallPlayer {
    display: none;
    position: fixed;
    bottom: 0;
}

#canvas {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#additionalTable {
    display: none;
    height: 700px;
    overflow: auto;
    z-index: 1;
}

#themeLogo {
    background-image: url('../images/themeLogo.png');
    background-size: 580px 144px;
    height: 144px;
    width: 580px;
    margin-top: 20%;
    border: none;
    z-index: 2;
}

@media (max-width: 600px) {
    #themeLogo {
        background-size: 406px 100px;
        height: 100px;
        width: 406px;
    }
}

#main {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    width: 20%;
    z-index: 2;
}

@media screen and (max-width: 600px) {
    #main {
        width: 100%;
    }
}

#left {
    flex-grow: 1;
    float: left;
    height: 100%;
    width: 30%;
    z-index: 2;
}

#soundWaveButton {
    background-color: transparent;
    border: none;
    background-image: url('../images/soundWave.svg');
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    opacity: 0.5;
    margin-left: 2%;
    margin-top: 2%;
    z-index: 2;
}

#right {
    flex-grow: 1;
    position: relative;
    width: 30%;
    z-index: 2;
}

#searchTrackInSystem {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2%;
    margin-top: 2%;
    z-index: 2;
}

#findInGoogle {
    background-color: transparent;
    border: none;
    background-image: url('../images/google.svg');
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    margin-right: 10px;
    margin-left: 10px;
    z-index: 2;
}

#findInYouTube {
    background-color: transparent;
    border: none;
    background-image: url('../images/youtube.svg');
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    margin-left: 10px;
    z-index: 2;
}

#controller {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    z-index: 2;
}

#common {
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
}

#time {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#volume {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    height: 25%;
    z-index: 2;
}

#backToList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

#loopButton {
    background-color: transparent;
    border: none;
    background-image: url('../images/loop.svg');
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    opacity: 0.5;
    z-index: 3;
}

#currentTime {
    margin-right: 10px;
    z-index: 3;
}

#duration {
    margin-left: 10px;
    z-index: 3;
}

#barAllPlayed {
    border-style: solid;
    border-color: black;
    height: 25px;
    cursor: pointer;
    z-index: 3;
}

#barPlay {
    height: 100%;
    background: #007fd1;
    background: -webkit-gradient(linear, left top, right top, from(#007fd1), to(#c600ff));
    background: -webkit-linear-gradient(left, #007fd1, #c600ff);
    background: -moz-linear-gradient(left, #007fd1, #c600ff);
    background: -o-linear-gradient(left, #007fd1, #c600ff);
    background: linear-gradient(left, #007fd1, #c600ff);
    z-index: 3;
}

#download {
    background-color: transparent;
    border: none;
    background-image: url('../images/download.svg');
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    margin-right: 10px;
    z-index: 3;
}

#backToListButton {
    background-color: transparent;
    border: none;
    background-image: url('../images/backToList.svg');
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    z-index: 3;
}