html, body {
    margin: 0;
    height: 100%;
    background-image: url('../images/player.jpg');
    background-attachment: fixed;
}

#acceptCookieDiv {
    display: none;
    background-color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 5;
}

#buttonsAcceptCookie {
    display: block;
}

a, a:hover {
    color: orange;
}

#listOfTrack, table, th, td {
    color: white;
}

@media screen and (min-width: 1024px) {
    .table {
        width: 50%;
        margin-left: 25%
    }
}

@media screen and (max-width: 600px) {
    table {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

#idSort {
    background-image: url('../images/sort.png');
    background-color: transparent;
    border: none;
    background-size: 50px 50px;
    height: 50px;
}

.setFavouriteClass {
    background-color: transparent;
    border: none;
    background-image: url('../images/favourite.svg');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    color: transparent;
}

@media screen and (max-width: 600px) {
    #setFavouriteButton {
        background-size: 40px 40px;
        height: 40px;
        width: 40px;
    }
}

#favouriteTracksButton {
    display: none;
}

#uploadSendButton {
    display: none;
}

footer {
    width: auto;
    bottom: 0;
    right: 1%;
}

.titleOfTrackInTable:hover {
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

.titleOfTrackInTable {
    width: 50%;
    float: left;
}

#shuffle {
    color: #007bff;
}

#shuffle:hover {
    text-decoration: underline;
    cursor: pointer;
}

#notification {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    border-radius: 25px;
    text-align: center;
    width: 300px;
    height: 150px;
    background-color: yellow;
    color: black;
    font-size: 45px;
}

#submitPathToFolderButton, #clearWrotePath, #idPath {
    display: none;
}