table {
    display: none;
}

.table thead th {
    background-color: #f8f9fa;
    position: sticky;
    top: 0;
    width: auto;
}

@media screen and (max-width: 600px) {
    table {
        height: 700px;
        overflow-y: auto;
    }
}

footer {
    width: auto;
    bottom: 0;
    right: 1%;
}

.ASC {
    background-color: transparent;
    border: none;
    background-image: url('../images/sortAsc.svg');
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
}

.DESC {
    background-color: transparent;
    border: none;
    background-image: url('../images/sortDesc.png');
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
}

.sort {
    display: inline-block;
}

.titleOfTrackInTable:hover {
    text-decoration: underline;
    cursor: pointer;
}

#shuffle {
    color: #007bff;
}

#shuffle:hover {
    text-decoration: underline;
    cursor: pointer;
}