#bottomController {
    display: none;
    background-color: #212529;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 3;
    color: white;
}

#picInBottomController {
    display: flex;
    width: 100%;
}

.controllerDiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    color: white;
    border-color: green;
    border-style: dashed;
}

.closeDiv {
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    background-image: url('../../images/redCross.png');
}

#leftSideBottomController {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
    flex-basis: 30%;
}

#soundWaveButton {
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-image: url('../../images/soundWave/soundWave.png');
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    opacity: 0.5;
}

#picAndTitleOfTrack {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
    flex-basis: 50%;
}

#additionalButtons {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 15px;
    flex-basis: 50%;
}

#selectPlaylistButton {
    background-color: transparent;
    border: none;
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    background-image: url('../../images/playlist.png');
}

#centerSideBottomController {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#playController {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
}

#playBackTimeline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 40%;
}

#selectPlaylistId {
    display: none;
}

#rightSideBottomController {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
}

#leftSideBottomController > .downloadButton {
    background-color: transparent;
    border: none;
    background-image: url('../../images/download.svg');
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    margin-right: 0;
}

.lyricButton {
    background-color: transparent;
    border: none;
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    background-image: url('../../images/lyric.png');
    cursor: pointer;
}

.shuffleButton {
    cursor: pointer;
    background-size: 34px 34px;
    height: 34px;
    width: 34px;
    background-image: url('../../images/shuffle.png');
}

.playButton, .pauseButton {
    display: none;
    background-color: transparent;
    border: none;
    background-size: 34px 34px;
    height: 34px;
    width: 34px;
}

.playButton {
    background-image: url('../../images/play.svg');
}

.pauseButton {
    background-image: url('../../images/pause.svg');
}

.prevTrackButton, .nextTrackButton {
    background-color: transparent;
    border: none;
    background-size: 34px 34px;
    height: 34px;
    width: 34px;
}

.prevTrackButton {
    background-image: url('../../images/prevNextButton/prev.png');
}

.nextTrackButton {
    background-image: url('../../images/prevNextButton/next.png');
}

.loopButton {
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-image: url('../../images/loop.svg');
    background-size: 34px 34px;
    height: 34px;
    width: 34px;
    opacity: 0.5;
    z-index: 3;
}

.currentTime {
    padding-left: 10px;
    z-index: 3;
}

.duration {
    padding-left: 10px;
    padding-right: 10px;
    z-index: 3;
}

.barAllPlayed {
    flex-grow: 2;
    border-style: solid;
    border-color: black;
    height: 25px;
    cursor: pointer;
    z-index: 3;
}

.barPlay {
    height: 100%;
    background: #007fd1;
    background: -webkit-gradient(linear, left top, right top, from(#007fd1), to(#c600ff));
    background: -webkit-linear-gradient(left, #007fd1, #c600ff);
    background: -moz-linear-gradient(left, #007fd1, #c600ff);
    background: -o-linear-gradient(left, #007fd1, #c600ff);
    background: linear-gradient(left, #007fd1, #c600ff);
    z-index: 3;
}

#showInfoAboutTrack {
    margin-bottom: 0;
    padding-left: 10px;
    max-height: 70px;
}

#showInfoAboutTrack:hover {
    cursor: pointer;
    text-decoration: underline;
}

.addToFavouriteButton {
    background-color: transparent;
    border: none;
    background-image: url('../../images/favourite/favouriteActive.svg');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    color: transparent;
}

.downloadButton {
    background-color: transparent;
    border: none;
    background-image: url('../../images/download.svg');
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    margin-right: 5px;
    z-index: 3;
}

.removeFromHistory {
    background-color: transparent;
    border: none;
    background-image: url('../../images/redCross.png');
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    z-index: 3;
}
