#playButton, #pauseButton {
    display: none;
    background-color: transparent;
    border: none;
    background-size: 80px 80px;
    height: 80px;
    width: 80px;
}

#playButton {
    background-image: url('../../images/play.svg');
}

#pauseButton {
    background-image: url('../../images/pause.svg');
}

#prevTrackButton, #nextTrackButton {
    background-color: transparent;
    border: none;
    background-size: 80px 80px;
    height: 80px;
    width: 80px;
}

#prevTrackButton {
    background-image: url('../../images/prev.svg');
}

#nextTrackButton {
    background-image: url('../../images/next.svg');
}