.volumeSlider {
    margin-right: 10px;
}

.volumeMin, .volumeMax {
    background-color: transparent;
    background-size: 24px 24px;
    border: none;
    height: 24px;
    width: 24px;
}

.volumeMax {
    background-image: url('../../images/volumeMax.svg');
    opacity: 0.7;
}

.volumeMin {
    background-image: url('../../images/volumeMin.svg');
}
