<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My messages</title>
</head>
<body>

<form method="post" action="/chat">

    <label for="idSelectCompanion">Select friend to start dialog:</label>
    <select size="4" id="idSelectCompanion" name="companionId" class="custom-select" required>
        <option th:each="user: ${users}"
                th:value="${user.id}"
                th:text="${user.name} + ' ' + ${user.surname}">
        </option>
    </select>

    <button type="submit">Create chat</button>
</form>

<br/>

<table>
    <thead>
    </thead>
    <tbody>
    <tr th:each="chat: ${chats}">
        <form action="/message" method="get">
            <button type="submit" name="chatTitle" th:text="${chat.title}" th:value="${chat.title}"></button>
        </form>
    </tr>
    </tbody>
</table>

<form method="post" action="/message">

    <label>
        <input type="text" name="message" placeholder="message..." required/>
    </label>

    <button type="submit">Send message</button>
</form>

<table>
    <thead>
    </thead>
    <tbody>
    <tr>
        <td>Message</td>
    </tr>
    <tr th:each="message: ${messages}">
        <td th:text="${message.name} + ' ' + ${message.surname} + ': '">
        <td th:text="${message.message}">
        <td th:text="' [' + ${message.time} + ' ' + ${message.date} + ']'">
    </tr>
    </tbody>
</table>
<script>

</script>
</body>
</html>