<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My friends</title>
</head>
<body>

<table>
    <thead>
    </thead>
    <tbody th:each="user: ${users}">
    <tr>
        <form action="/friendship" method="post">
            <button type="submit" name="possibleFriendUsername" th:text="${user.name} + ' ' + ${user.surname}"
                    th:value="${user.username}"></button>
        </form>
    </tr>
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${friends}">
        <td th:text="${user.name}">
        <td th:text="${user.surname}">
    </tr>
    </tbody>
</table>
</body>
</html>