<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="viewport" content="width=570"/>
    <title id="titleOfTab">Music Player</title>
    <link rel="icon" type="image/ico" id="icon" th:href="@{/images/iconPlay.ico}"/>
    <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link th:href="@{css/preload.css}" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <link th:href="@{css/player.css}" rel="stylesheet">
    <link th:href="@{css/audio/controllerAudio.css}" rel="stylesheet">
    <link th:href="@{css/audio/volumeRange.css}" rel="stylesheet">
    <link th:href="@{css/audio/volume.css}" rel="stylesheet">
    <link th:href="@{css/backToTop.css}" rel="stylesheet">
</head>
<body class="bg-light">
<div id="preloader">
    <div class="mainPreloader">
        <span class="animation"></span>
        <br>Please wait<br>
        <small>Music player is loading...</small>
    </div>
</div>
<div id="player">
    <canvas id="canvas"></canvas>
    <div id="left">
        <button id="soundWaveButton"></button>
        <label for="soundWaveColorSlider"></label>
        <input id="soundWaveColorSlider" type="range" min="0" max="255" step="10" value="100" style="width: auto;"/>
    </div>
    <div id="main">
        <div id="controller">
            <button id="prevTrackButton" class="nextPrevButtons"></button>
            <button id="playButton"></button>
            <button id="pauseButton"></button>
            <button id="nextTrackButton" class="nextPrevButtons"></button>
        </div>
        <div id="common">
            <button id="loopButton"></button>
            <h3 id="titleOfTrackInPlayer" class="showAdditionalTable"></h3>
            <button id="download"></button>
            <div id="barAllPlayed">
                <div id="barPlay"></div>
            </div>
            <div id="time">
                <div id="currentTime"></div>
                <div id="duration"></div>
            </div>
        </div>
        <div id="volume">
            <button id="volumeMin"></button>
            <label for="volumeSlider"></label>
            <input id="volumeSlider" type="range" min="0" max="1" step="0.01" value="0.5"/>
            <button id="volumeMax" disabled></button>
        </div>
        <audio id="audioId" class="audioClass" src="" preload="auto" autoplay></audio>
        <div id="backToList">
            <button id="backToListButton"></button>
        </div>
    </div>
    <div id="right">
        <div id="additionalTable">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title of music</th>
                    <th>Length (hh:mm:ss)</th>
                </tr>
                </thead>
                <tbody th:if="${not #lists.isEmpty(trackList)}">
                <tr th:each="track: ${trackList}" class="table-success">
                    <td th:text="${track.id}" style="text-align: center">
                    <td>
                        <span class="titleOfTrackInTable" th:text="${track.title}"></span>
                    </td>
                    <td th:text="${track.length}" style="text-align: center"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="listOfTrack">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="mb-3">
                Current path:
                <a href="/" th:text="${currentPath}"></a>
                <form method="post" id="submitFormPath" action="/welcome">
                    <label for="idSelectPath">Select new path:</label>
                    <select size="1" id="idSelectPath" name="pathToFolder" class="custom-select">
                        <option th:each="folder: ${folderList}"
                                th:value="${folder.path}"
                                th:text="${folder.id} + '. ' +  ${folder.path}">
                        </option>
                    </select>
                    <button type="submit" id="submitPathToFolderButton">Accept</button>
                </form>
            </div>
        </div>
        <table id="mainTable" class="table table-bordered table-hover" th:if="${not #lists.isEmpty(trackList)}">
            <thead>
            <tr>
                <th style="text-align: center">ID</th>
                <th>
                    Upload mp3 tracks
                    <form method="post" action="/upload" id="uploadForm" enctype="multipart/form-data">
                        <input type="file" id="uploadId" name="uploadTrack" accept="audio/*" required/><br/>
                        <button type="submit" id="uploadSendButton">Send</button>
                    </form>
                    <span th:text="${resultUpload}"></span>
                </th>
                <th>
                    <label for="idSort"></label>
                    <select size="1" id="idSort"
                            oninvalid="setCustomValidity('Select the sort')" oninput="setCustomValidity('')"
                            class="custom-select"
                            required onchange="location = this.value;">
                        <option value="/"></option>
                        <option value="/title=ASC">By title ascending</option>
                        <option value="/title=DESC">By title descending</option>
                        <option value="/size=ASC">By size ascending</option>
                        <option value="/size=DESC">By size descending</option>
                        <option value="/date=ASC">By date ascending</option>
                        <option value="/date=DESC">By date descending</option>
                        <option value="/length=ASC">By length ascending</option>
                        <option value="/length=DESC">By length descending</option>
                    </select>
                </th>
            </tr>
            <tr>
                <td colspan="3">
                    <form method="get" action="/search">
                        <label for="searchTrack" hidden>Find track</label>
                        <input type="text" name="trackTitle" class="form-control" placeholder="Find track"
                               id="searchTrack" maxlength="60" value="" required>
                    </form>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="1" style="text-align: center">#</td>
                <td colspan="2"><a th:href="@{'/shuffle'}">Shuffle!</a></td>
            </tr>
            <tr th:each="track: ${trackList}" class="table-success">
                <td th:text="${track.id}" style="text-align: center">
                <td colspan="3">
                    <span class="titleOfTrackInTable" th:text="${track.title}"></span>
                    <h5 th:text="${track.date} + ' | ' + ${track.size} + 'MB | ' + ${track.length}"></h5>
                </td>
            </tr>
            </tbody>
        </table>
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Music Player, by <a href="https://www.linkedin.com/in/andrii-reva-795200141/">Andrii Reva</a></p>
            </div>
        </footer>
    </div>
    <a href="#" id="backToTop">&uarr;</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:src="@{/js/preloader.js}"></script>
<script th:src="@{/js/pathToFolder.js}"></script>
<script th:src="@{/js/goToPlayer.js}"></script>
<script th:src="@{/js/audio/volume.js}"></script>
<script th:src="@{/js/audio/playAudio.js}"></script>
<script th:src="@{/js/audio/controllerAudio.js}"></script>
<script th:src="@{/js/visualizer.js}"></script>
<script th:src="@{/js/uploadTrack.js}"></script>
<script th:src="@{/js/backToTop.js}"></script>
</body>
</html>