<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="viewport" content="width=570"/>
    <title>Music Player</title>
    <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link th:href="@{css/preload.css}" rel="stylesheet">
    <link th:href="@{css/player.css}" type="text/css" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <link th:href="@{css/backToTop.css}" rel="stylesheet">
</head>
<body class="bg-light">
<div id="preloader">
    <div class="mainPreloader">
        <span class="animation"></span>
        <br>Please wait<br>
        <small>Music player is loading...</small>
    </div>
</div>
<div id="player">
    <div id="left"></div>
    <div id="main">
        <div id="controller">
            <button id="prevTrackButton" class="nextPrevButtons"></button>
            <button id="playButton"></button>
            <button id="pauseButton"></button>
            <button id="nextTrackButton" class="nextPrevButtons"></button>
        </div>
        <div id="common">
            <h3 id="titleOfTrack"></h3>
            <button id="download"></button>
            <div id="time">
                <div id="currentTime"></div>
                <div id="duration"></div>
            </div>
        </div>
        <div id="volume">
            <label for="volumeSlider"></label>
            <button id="volumeMin"></button>
            <button id="volumeMute"></button>
            <input id="volumeSlider" type="range" min="0" max="1" step="0.1" value="0.3"/>
            <button id="volumeMax" disabled></button>
        </div>
        <audio id="audioId" class="audioClass" src="" preload="auto" autoplay></audio>
        <div id="backToList">
            <button id="backToListButton"></button>
        </div>
    </div>
    <div id="right"></div>
</div>
<div id="listOfTrack">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="mb-3">
                Current path: <a th:href="@{'/'}" th:text="${currentPath}"></a>
            </div>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    <form method="get" action="/search">
                        <label for="searchTrack" hidden>Find track</label>
                        <input type="text" name="trackTitle" class="form-control" placeholder="Find track"
                               id="searchTrack" maxlength="60" value="" required>
                    </form>
                    Title of music
                    <label for="idSortTitle"></label>
                    <select size="1" id="idSortTitle" class="custom-select d-block w-100 select"
                            oninvalid="setCustomValidity('Select the sort')" oninput="setCustomValidity('')"
                            required onchange="location = this.value;">
                        <option>Sort by title *</option>
                        <option value="/">Sort by ID track</option>
                        <option value="/title=ASC">Sort by title ascending</option>
                        <option value="/title=DESC">Sort by title descending</option>
                    </select>
                </th>
                <th>Size (MB)<label for="idSortSize"></label>
                    <select size="1" id="idSortSize" class="custom-select d-block w-100 select"
                            oninvalid="setCustomValidity('Select the sort')" oninput="setCustomValidity('')"
                            required onchange="location = this.value;">
                        <option>Sort by size *</option>
                        <option value="/">Sort by ID track</option>
                        <option value="/size=ASC">Sort by size ascending</option>
                        <option value="/size=DESC">Sort by size descending</option>
                    </select>
                </th>
                <th>Date of create<label for="idSortDate"></label>
                    <select size="1" id="idSortDate" class="custom-select d-block w-100 select"
                            oninvalid="setCustomValidity('Select the sort')" oninput="setCustomValidity('')"
                            required onchange="location = this.value;">
                        <option>Sort by date *</option>
                        <option value="/">Sort by ID track</option>
                        <option value="/date=ASC">Sort by date ascending</option>
                        <option value="/date=DESC">Sort by date descending</option>
                    </select></th>
                <th>Length (hh:mm:ss)<label for="idSortLength"></label>
                    <select size="1" id="idSortLength" class="custom-select d-block w-100 select"
                            oninvalid="setCustomValidity('Select the sort')" oninput="setCustomValidity('')"
                            required onchange="location = this.value;">
                        <option>Sort by length *</option>
                        <option value="/">Sort by ID track</option>
                        <option value="/length=ASC">Sort by length ascending</option>
                        <option value="/length=DESC">Sort by length descending</option>
                    </select>
                </th>
            </tr>
            </thead>
            <tbody th:if="${not #lists.isEmpty(trackList)}">
            <tr>
                <td id="tdShuffle" colspan="5"><a th:href="@{'/shuffle'}">Shuffle!</a></td>
            </tr>
            <tr th:each="track: ${trackList}" class="table-success">
                <td th:text="${track.id}" style="text-align: center">
                <td class="tdTitle">
                    <span class="titleOfTrackInTable" th:text="${track.title}"></span>
                </td>
                <td th:text="${track.size}" style="text-align: center"></td>
                <td th:text="${track.date} + ' ' + ${track.time}" style="text-align: center"></td>
                <td th:text="${track.length}" style="text-align: center"></td>
            </tbody>
        </table>
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Music Player, by <a href="https://www.linkedin.com/in/andrii-reva-795200141/">Andrii Reva</a></p>
            </div>
        </footer>
    </div>
    <a href="#" id="backToTop">&uarr;</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:src="@{/js/preloader.js}"></script>
<script th:src="@{/js/goToPlayer.js}"></script>
<script th:src="@{/js/audio/volume.js}"></script>
<script th:src="@{/js/audio/playAudio.js}"></script>
<script th:src="@{/js/audio/controllerAudio.js}"></script>
<script th:src="@{/js/infiniteScrollTable.js}"></script>
<script th:src="@{/js/backToTop.js}"></script>
</body>
</html>